@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@100;400&display=swap');


:root{
    --primary-color:#cae5ff;
    --secondary-color:#d3f9b5;
    --accent1-color:#7c7f65;
    --accent2-color:#615d6c;

    --heading-font:"playfair display";
    --text-font: "roboto";
}

h1,h2,h3{
    font-family:var(--heading-font);
    color:var(--accent2-color)
}
p{
    font-family: var(--text-font);
    color:var(--accent1-color);
}
footer{ 
    Position: relative;
}
footer p{
   grid-area: paragraph;
   text-align: center;
}
footer nav{
   float:right;
   position:absolute;
   right: 0;
   top:0;
}

footer nav a{
    text-decoration:none;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}
footer nav a img{
    height: 20px;
}
.hero{
    position:relative;
}
.hero h1{
    position:absolute;
    top:100px;
    /* right: 550px; */
    /* background-color:whitesmoke; */
    opacity: 60%;
    width:100%;
    text-align: center;
}
.hero article{
    position:absolute;
    top:400px;
    right :100px;
    left: 100px;
    background-color: #cae5ff;
    opacity:70%;
}
.hero article p{
    color:var(--accent2-color);
}
.hero article img{
    float:right;
    height: 100px;
    width: 100px;
}
Section img {
    display:block;
    margin:5px;
}
.header-grid-container{
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: minmax(80px , auto);
    grid-template-areas: 
    "logo navigations";
    background-color: #cae5ff;
    
}
.header-grid-container img{
    grid-area: logo;
    justify-self: center;
    align-self: center;
    width:100px;
    height:auto;
    background-color: #cae5ff;   
}
.header-grid-container nav{
    grid-area: navigations;
    align-items: center;
    display: flex;
    justify-content: center;
}
.header-grid-container nav a{
    flex:1 1;
    text-align: center;
}
.history-grid-container{
    display:grid;
    grid-template-columns:1fr 450px 1fr;
    grid-template-rows:auto auto;
    grid-template-areas: 
    "heading heading heading"
    "paragraph1 image paragraph2";
}
.history-grid-container h2{
    grid-area: heading;
    flex:1 1;
    text-align: center;
}
.history-grid-container .para1{
    grid-area: paragraph1;
    text-align:center;
}
.history-grid-container img{
    grid-area: image; 
    text-align: center;
}
.history-grid-container .para2{
    grid-area: paragraph2;
    text-align:center;
}
.adventure-grid-container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    "heading heading heading heading heading"
    "image1 image2 image3 image4 image5";

}
.adventure-grid-container h2{
    grid-area: heading;
    text-align:center;
}
.adventure-grid-container img{
    max-width: 90%;
    height: auto;
}
figcaption{
    text-align: center;
}


