*{
    margin:0 auto;
}
label,input{
    display:block;
    margin:1em 0;
}
span,h1{
    color:  rgb(3, 5, 138);
    font-size: x-large;
    font-weight:400;
}
form{
    width:50%;
    margin:0 auto;
    width: 500px;
    
}
img{
    width: 30px;
    height:auto;
    display:inline;
    margin:0 auto;
}
h1{
    display:inline;
    margin:0 auto;
}
.form-item{
    background-color: rgb(207, 236, 241);
    padding:10px;
    padding-left:10px ;
    margin:0 auto;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: rgb(3, 5, 138);
    text-align: center;
    color:white;
    width: 90%;
    height: 50px;
    border-radius: 5px;

}
input{
    width:90%;
}
select{
    width:90%;
}
textarea{
    height: 100px;
    width:90%;
}
.form-item img{
    width:250px;
    height: auto;
}

