:root{
    --nav-background-and-h1-color:darkblue;
    --color-black: black;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    background-color: var(--nav-background-and-h1-color);
    padding :10px;
}

nav a {
    color:white;
    display:block;
    padding:30px;
}
h1{
    color:var(--nav-background-and-h1-color);
}
img{
    width:150px;
    height: auto;
    border:1px solid var(--color-black);
    padding:2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 10px;
}
main{
    max-width: 840px;
}
aside{
    position: relative;
    width:20rem;
    text-align: center;
}
aside h2{
    position:absolute;
    left:5em;
}
aside img {
    width:200px;
    height: auto;
}
main img{
    float:right;
    width:150px;
    height:auto;
}
p{
    padding:0;
}
footer{
    margin-top: 15px;
    border-top: 1px solid var(--color-black);
    text-align: center;
}
/* Class Selectors */

.box{
    margin:1rem;
    padding:1rem;
    border: 1px solid var(--color-black);
    background-color:lightskyblue;
    color:var(--color-black);
}