:root{
    --nav-background-and-h1-color:darkblue;
    --color-black: black;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    background-color: var(--nav-background-and-h1-color);
    padding :10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color:white;
    display:block;
    padding:30px;
    text-decoration: none;
}
h1{
    color:var(--nav-background-and-h1-color);
    border-bottom:2px solid var(--nav-background-and-h1-color);
}
img{
    width:150px;
    height: auto;
    border:0.5px solid var(--nav-background-and-h1-color);
    padding:2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 10px;
}
.grid{
    height:100%;
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: repeat(2,1fr);
    justify-content:start;
    align-items: center;
}
main{
    grid-area: 1 /2/3/3;
    align-self: center;
    justify-self:center;

}
aside{
    position: relative;
    width:20rem;
    text-align: center;
    grid-area:1/1/3/2;
}
aside h2{
    position:absolute;
    left:5em;
}
aside img {
    width:200px;
    height: auto;
}
main img{
    margin:5px;
    float:right;
    width:150px;
    height:auto;
}
p{
    padding:0;
}
footer{
    margin-top: 15px;
    border-top: 1px solid var(--color-black);
    text-align: center;

}
header,.grid,footer{
    margin: 0 auto;
    max-width: 840px;
}
/* Class Selectors */

.box{
    margin:1rem;
    padding:1rem;
    /* border: 1px solid var(--color-black); */
    background-color:rgb(223, 232, 238);
    color:var(--color-black);
    
}