main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 1px solid black;
}

.callout {
    width: 500px;
    margin: 0 auto;
    background-color: steelblue;
    padding: 10px;
}

.callout img {
    float: right;
    width: 100px;
    height: auto;
    box-shadow: 13px 3px 35px 5px rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    padding: 2px;
    background-color: antiquewhite;
}

blockquote {
    clear: left;
    color: white;
    margin: 0 auto;
}

cite {
    display: block;
    color: white;
    width: 90%;
    border-top: 1px dotted white;
    text-align: end;
    margin: 0 auto;
    padding: 2px;

}