* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

footer,
header {
    text-align: center;
    background-color: darkslategray;
    color: white;
    width: 100%;
    min-height: 50px;
    padding: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    margin: 0 auto;
    /* text-align: center; */

}

h1 {
    text-align: center;
}

picture img {
    display: block;
    box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: auto;
    margin: 10px auto;
}

section {
    width: 50%;
    min-height: 170px;
    margin: 10px auto;
    background-color: lightgray;
    padding: 5px;

}

main section:first-of-type {
    margin-top: 20px;
}

section h2 {
    padding-left: 5px;
}

section h2::after {
    content: "";
    display: block;
    min-width: 420px;
    height: 1px;
    background-color: black;
    color: black;
    margin-bottom: 10px;
}

section p,
section ul li {
    margin: 15px 0;
    padding-left: 20px;

}

section ul li {
    list-style-position: inside;
}